<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="gris">
	<mapping resource="hbm/com/gr/qrapi/core/model/Account.hbm.xml"/>
	<mapping resource="hbm/com/gr/qrapi/core/model/Contact.hbm.xml"/>
	<mapping resource="hbm/com/gr/qrapi/core/model/Address.hbm.xml"/>
	<mapping resource="hbm/com/gr/qrapi/core/model/AlertProfile.hbm.xml"/>
	<mapping resource="hbm/com/gr/qrapi/core/model/Location.hbm.xml"/>
	</session-factory>
</hibernate-configuration>