html  {
    overflow:auto;
}

.im-center{
    margin-top: 10%;
    width: auto;
}

.qr-header{
    background-color: rgb(6, 48, 85);
    color: white;
    width: 100%;
}


.heading{
    text-align: center;
    padding: 20px;
}
.contact-heading{
    text-align: center;
    padding: 20px;
}

.btn-signin{
    margin-top: 10px;
}

#map{
    width: 600px;
    height: 500px;
}

.btn-back{
    margin-top: 15px;
}

.qr-footer{
    background-color: rgb(6, 48, 85);
    color: white;
    text-align: center;
}